/*Estilos recién aplicados */
/*Estilos para la cabecera*/
header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

/*Estilos para el menú de la cabecera*/
.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;
  /*hacemos que el logo se posicione al lado derecho*/
}

/*Estilos para el menú*/
.menu{
  padding: 14px 70px;
  overflow: auto;
}

#home{
  background-image: url(../img/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: white;
  padding: 70px;
}

.text-home{
  font-size: 53px;
}

.btn-home{
  background: #2ECC71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}

/*Estilos para la sección de servicios*/
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 85px 7px;
}

.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}

.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

footer{
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}

/*Estilos segunda parte*/
#work{
  background-color: #fff;
  text-align: center;
  color: #373B47;
  padding: 85px 7px;
}

.content-box-work{
  margin-top: 50px;
}

.box-work{
  display: inline-block;
  width: 31.5%;
  margin-top: 40px;
}

.box-work img{
  cursor: pointer;
  transition: 0.3s;
}

.img:hover{
  opacity: 0.5;
}

/*Estilos para el modal*/
.modal{
  position:relative;
  display: none;
  position: fixed;
  z-index: 600;
  padding-top: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgba(25, 218, 212, 0.77);
  transition: all 1s;
  pointer-events: none;

}
#modal-popup:target{
  visibility: visible;
  opacity: 1;
  background-color:#3dd1a0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index: 900;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
}
.img-modal{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.zoom{
  transform: scale(0.10);
}

.close{
  position: absolute;
  top: 3px;
  right: 3px;
  color: rgb(30, 240, 233);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}
